<div class="container text-center">
  <div class="header">
    <div class="layer">
     <h1>Giff Property Services</h1>
     <p>Commercial Real Estate Appraisals, Brokerage & Management</p>
    </div>
  </div>
</div>
