html {
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: #000;
}

.card {
  height: 100%;
}

.navbar {
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: auto;
}

.header {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  height: 500px;
  min-width: 100%;
  color: #fff;
  background: url(/public/images/omaha.jpg) no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  padding-top: 200px;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.content {
  margin-top: 50px;
}

.footer {
  height: 75px;
  padding-top: 25px;
}

img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: auto;
}

.staff {
  height: auto;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .header {
    height: 400px;
  }
  .header h1 {
    padding-top: 150px;
  }
}
