<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<% include ../partials/header %>
 <div class="container content mx-2 mx-sm-0" id="about">
  <div class="row col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
    <h1>Company History and Profile</h1>
    <p class="mt-3">Giff Property Services is a leading commercial appraisal firm in the Omaha area and the Midwest, providing professional real estate services from Council Bluffs to Omaha to Scottsbluff.  With more than 25 years of experience in the Midwest, Giff Property Services has the expertise to provide professional real estate services to meet your needs.  Our commercial appraisal expertise includes mortgage financing, land development analysis, legal disputes, condemnation proceedings, easement valuation, assessment analysis, litigation and expert witness testimony.  Our commercial real estate brokerage services include buyer representation, lease consultation, and lessee lease negotiations.  Our staff is also experienced and qualified to manage your commercial property with the utmost attention and care.</p>
  </div>
 </div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
