<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Giff Property Services</title>
    <!--STYLESHEETS-->
    <!--CSS (load bootstrap from a CDN)-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <!-- Brand -->
      <a class="navbar-brand ml-lg-5 mr-auto" href="/">GPS</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" href="/about.html">About Us</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/staff.html">Staff Profiles</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/services.html">Services</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-lg-5">
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
      <div class="header">
        <div class="layer">
          <h1>Giff Property Services</h1>
          <p>Commercial Real Estate Appraisals, Brokerage & Management</p>
        </div>
      </div>
    </div>
    <div class="container content mx-2 mx-sm-0 text-center text-md-left">
      <div class="row col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
        <h1 class="col-12">Contact Us</h1>
        <form action="" class="col-12 text-left">
          <div class="field">
            <input
              type="text"
              name="fullname"
              id="fullname"
              placeholder="Jane Appleseed"
            />
            <label for="fullname">Name</label>
          </div>
          <div class="field">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="jane.appleseed@example.com"
            />
            <label for="email">Email</label>
          </div>
          <div class="field">
            <input
              type="tel"
              name="phone"
              id="phone"
              placeholder="555-555-5555"
              maxlength="12"
            />
            <label for="phone">Phone Number</label>
          </div>
          <div class="field">
            <textarea
              name="message"
              id="message"
              placeholder="Message"
              rows="5"
            ></textarea>
            <label for="message">Message</label>
          </div>
          <input
            class="btn btn-dark float-right"
            type="submit"
            value="Send Message"
          />
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-center text-muted">
          Copyright 2020 © Giff Property Services
        </p>
      </div>
    </footer>
    <!--Scripts for bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      window.onload = function() {
        var all_links = document
            .getElementById('collapsibleNavbar')
            .getElementsByTagName('a'),
          i = 0,
          len = all_links.length,
          full_path = location.href.split('#')[0]; //Ignore hashes?

        // Loop through each link.
        for (; i < len; i++) {
          if (all_links[i].href.split('#')[0] == full_path) {
            all_links[i].className += ' active';
          }
        }
      };

      const isNumericInput = event => {
        const key = event.keyCode;
        return (
          (key >= 48 && key <= 57) || // Allow number line
          (key >= 96 && key <= 105) // Allow number pad
        );
      };

      const isModifierKey = event => {
        const key = event.keyCode;
        return (
          event.shiftKey === true ||
          key === 35 ||
          key === 36 || // Allow Shift, Home, End
          key === 8 ||
          key === 9 ||
          key === 13 ||
          key === 46 || // Allow Backspace, Tab, Enter, Delete
          (key > 36 && key < 41) || // Allow left, up, right, down
          // Allow Ctrl/Command + A,C,V,X,Z
          ((event.ctrlKey === true || event.metaKey === true) &&
            (key === 65 ||
              key === 67 ||
              key === 86 ||
              key === 88 ||
              key === 90))
        );
      };

      const enforceFormat = event => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if (!isNumericInput(event) && !isModifierKey(event)) {
          event.preventDefault();
        }
      };

      const formatToPhone = event => {
        if (isModifierKey(event)) {
          return;
        }

        // I am lazy and don't like to type things more than once
        const target = event.target;
        const input = event.target.value.replace(/\D/g, '').substring(0, 10); // First ten digits of input only
        const zip = input.substring(0, 3);
        const middle = input.substring(3, 6);
        const last = input.substring(6, 10);

        if (input.length > 6) {
          target.value = `${zip}-${middle}-${last}`;
        } else if (input.length > 3) {
          target.value = `${zip}-${middle}`;
        } else if (input.length > 0) {
          target.value = `${zip}`;
        }
      };

      const inputElement = document.getElementById('phone');
      inputElement.addEventListener('keydown', enforceFormat);
      inputElement.addEventListener('keyup', formatToPhone);
    </script>
  </body>
</html>
