<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
  <% include ../partials/nav %>
  <% include ../partials/header %>
  <div class="container text-center">

  </div>

<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
