<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
  <div class="container text-center">
  <div class="content row text-left">
    <div class="col-lg-7 offset-lg-1 col-10 offset-1">
      <p>Giff Property Services (GPS) is a full service commercial real estate company based in Bellevue, Nebraska providing a full range of commercial appraisal, consulting, management and brokerage services.  We are a leading provider of real estate appraisals serving eastern Nebraska and western Iowa for over 25 years.   We are local experts in the area with a primary market focus on the cities of Omaha, Lincoln, Columbus, Grand Island, Kearney, Norfork, York, and Council Bluffs.   We concentrate our appraisal experience on commercial, office, industrial, and subdivision development type properties.</p>
      <p><strong class="d-lg-none">Contact us</strong><span class="d-none d-lg-inline">Contact us</span> today for all your commercial real estate needs.</p>
    </div>
    <div class="col-lg-2 offset-lg-1 col-10 offset-1">
      <p class="d-none d-lg-block"><strong>Contact Us</strong></p>
      <p>Giff Property Services
        <br>2211 Thurston Circle
        <br>Bellevue, NE 68005
        <br>(402) 557-5999
      </p>
    </div>
  </div>
</div>

<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
