<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<section name="jumbotron" >
 <div class="jumbotron text-center">
 <h1>Giff Property Services</h1>
 <p>Commercial Real Estate Appraisals, Brokerage & Management</p>
 </div>
 </section>
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
