<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<% include ../partials/header %>
  <div class="container content mx-2 mx-sm-0 text-center text-md-left" id="about">
    <div class="row col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
      <h1 class="pb-4">Appraisal & Consulting Services</h1>
      <div class="row">
  <div class="col-12 col-md-6 mx-2 mx-md-0">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title my-2">Appraisal Services</h5>
      </div>
      <div class="card-body">
        <ul class="col-md-12">
          <li>Mortgage</li>
          <li>Condemnation</li>
          <li>Estate Planning</li>
          <li>Legal Proceedings</li>
          <li>Divorce</li>
          <li>Sale listings</li>
          <li>Assessment Analysis</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0 mx-2 mx-md-0">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title my-2">Commercial Property Types</h5>
      </div>
      <div class="card-body">
        <ul class="col-md-12">
          <li>Industrial</li>
          <li>Manufacturing</li>
          <li>Self Storage Facilities</li>
          <li>Commercial Retail</li>
          <li>Automobile Dealerships</li>
          <li>Office</li>
          <li>Special Use Facilities</li>
          <li>Religious Institutions</li>
          <li>Subdivision Development</li>
          <li>Agricultural Land</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 mt-3 mx-2 mx-md-0">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title my-2">Clients</h5>
      </div>
      <div class="card-body row">
        <ul class="mb-0 col-12 col-md-6">
          <li>Lending Institutions</li>
          <li>Property Buyers</li>
          <li>Property Sellers</li>
          <li>School Districts</li>
          <li>State Government</li>
          <li>County Government</li>
        </ul>
        <ul class="mt-0 col-12 col-md-6">
          <li>City Government</li>
          <li>Utility Companies</li>
          <li>Subdivision Developers</li>
          <li>Builders</li>
          <li>Developers</li>
          <li>Attorneys</li>
        </ul>
    </div>
  </div>
</div>
    </div>
  </div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>
