<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Giff Property Services</title>
    <!--STYLESHEETS-->
    <!--CSS (load bootstrap from a CDN)-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <!-- Brand -->
      <a class="navbar-brand ml-lg-5 mr-auto" href="/">GPS</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" href="/about.html">About Us</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/staff.html">Staff Profiles</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/services.html">Services</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-lg-5">
          <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
      <div class="header">
        <div class="layer">
          <h1>Giff Property Services</h1>
          <p>Commercial Real Estate Appraisals, Brokerage & Management</p>
        </div>
      </div>
    </div>
    <div
      class="container content mx-2 mx-sm-0 text-center text-md-left"
      id="about"
    >
      <h1 class="offset-md-2">Our Team</h1>
      <div class="row staff text-center mx-2 mx-md-0">
        <div class="col-md-4 offset-md-1 my-md-auto mb-3">
          <img src="/public/images/Optimized-omaha.jpg" alt="Marty Giff" />
        </div>
        <div class="col-md-6 text-left">
          <p>
            <strong
              ><a href="mailto:mgiff@giffps.com" target="_top"
                >Martin Giff</a
              ></strong
            >
          </p>
          <p>
            Marty Giff has been active full time with real estate appraisal,
            brokerage, management and development in Omaha and the Midwest since
            1986. Marty is the founder and sole owner of Giff Property Services.
            He earned his Bachelor of Science degree in Business Administration
            from the University of Nebraska at Lincoln in 1981. He has been a
            licensed real estate salesman since 1985 and a real estate broker in
            Nebraska since 2007. He was awarded the Senior Residential Appraiser
            (SRA) designation from the Appraisal Institute in 1989, and
            completed extensive commercial courses required for commercial
            designations. In 1992 when licensing was implemented in Nebraska,
            Mr. Giff attained the Certified General Real Property Appraiser
            license. Martin then attained a Certified General Real Property
            Appraiser license in the the state of Iowa and is now qualified to
            appraise all property types in the states of Iowa and Nebraska.
          </p>
        </div>
      </div>
      <div class="row staff text-center mx-2 mx-md-0">
        <div class="col-md-6  offset-md-1 text-left order-3 order-md-1">
          <p>
            <strong
              ><a href="mailto:trengo@giffps.com" target="_top"
                >Trenton Rengo</a
              ></strong
            >
          </p>
          <p>
            Trent Rengo started his career in real estate appraisal and
            management with Giff Property Services in January 2012. Trent
            completed his bachelors degree in Businesss Administration with a
            specialization in Real Estate and Land Use at the University of
            Nebraska at Omaha in May of 2015. Trent obtained his Certified
            General Real Property Appraiser License in June of 2015.
          </p>
        </div>
        <div class="col-md-4 my-md-auto order-2 mb-3">
          <img src="/public/images/Optimized-omaha.jpg" alt="Trent Rengo" />
        </div>
      </div>
      <div class="row staff text-center mx-2 mx-md-0">
        <div class="col-md-4 offset-md-1 my-md-auto mb-3">
          <img src="/public/images/Optimized-omaha.jpg" alt="Colin Giff" />
        </div>
        <div class="col-md-6 text-left">
          <p>
            <strong
              ><a href="mailto:cgiff@giffps.com" target="_top"
                >Colin Giff</a
              ></strong
            >
          </p>
          <p>
            Colin of the House Giff, the First of His Name, The Broken Back,
            Surveyor of Buildings, Breaker of Leases, Father of Copper, Warden
            of the West, and the Rightful Heir to the Throne.
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-center text-muted">
          Copyright 2020 © Giff Property Services
        </p>
      </div>
    </footer>
    <!--Scripts for bootstrap-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      window.onload = function() {
        var all_links = document
            .getElementById('collapsibleNavbar')
            .getElementsByTagName('a'),
          i = 0,
          len = all_links.length,
          full_path = location.href.split('#')[0]; //Ignore hashes?

        // Loop through each link.
        for (; i < len; i++) {
          if (all_links[i].href.split('#')[0] == full_path) {
            all_links[i].className += ' active';
          }
        }
      };

      const isNumericInput = event => {
        const key = event.keyCode;
        return (
          (key >= 48 && key <= 57) || // Allow number line
          (key >= 96 && key <= 105) // Allow number pad
        );
      };

      const isModifierKey = event => {
        const key = event.keyCode;
        return (
          event.shiftKey === true ||
          key === 35 ||
          key === 36 || // Allow Shift, Home, End
          key === 8 ||
          key === 9 ||
          key === 13 ||
          key === 46 || // Allow Backspace, Tab, Enter, Delete
          (key > 36 && key < 41) || // Allow left, up, right, down
          // Allow Ctrl/Command + A,C,V,X,Z
          ((event.ctrlKey === true || event.metaKey === true) &&
            (key === 65 ||
              key === 67 ||
              key === 86 ||
              key === 88 ||
              key === 90))
        );
      };

      const enforceFormat = event => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if (!isNumericInput(event) && !isModifierKey(event)) {
          event.preventDefault();
        }
      };

      const formatToPhone = event => {
        if (isModifierKey(event)) {
          return;
        }

        // I am lazy and don't like to type things more than once
        const target = event.target;
        const input = event.target.value.replace(/\D/g, '').substring(0, 10); // First ten digits of input only
        const zip = input.substring(0, 3);
        const middle = input.substring(3, 6);
        const last = input.substring(6, 10);

        if (input.length > 6) {
          target.value = `${zip}-${middle}-${last}`;
        } else if (input.length > 3) {
          target.value = `${zip}-${middle}`;
        } else if (input.length > 0) {
          target.value = `${zip}`;
        }
      };

      const inputElement = document.getElementById('phone');
      inputElement.addEventListener('keydown', enforceFormat);
      inputElement.addEventListener('keyup', formatToPhone);
    </script>
  </body>
</html>
